html {
    height: 100%;
}

/* body {
    padding: 0px;
    background: linear-gradient (0deg, #383d95, #040d30 90%) no-repeat #383d95;
    min-height: 100%;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
} */

h1 {
    margin: 0;
    padding: 0;
    color: #536dcb;
}

topnav ul {
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    background-color: rgb(0, 93, 164);
    padding: 1.5%;
    display: inline-block;
    width: 100%;
    columns: 2;
}

.navbar-brand {
    padding-left: 1rem;
}

blockquote {
    border: 1px solid rgba(79, 72, 72, 0.716);
}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
}

.index-title {
    padding-top: 1%;
    padding-bottom: 1%;
}

.input-sm {
    width: 3em;
}

.row-vert-padding-sm {
    padding-top: 3px;
    padding-bottom: 3px;
}

.row-vert-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-col {
    padding-left: 0px;
    padding-right: 0px;
    flex: 0 0 fit-content;
}

.btn-horiz-padding-sm {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.btn-primary {
    background-color: #536dcb;
    border-color: #536dcb;
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

textarea,
.code-highlight {
    background-color: #f6f6f6;
}

.row-help-section {
    padding-top: 3%;
}

.row-help-subsection {
    padding-top: 2%;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 1%;
}

.help-toc {
    padding-top: 4%;
}

.tool-buttons {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(135, 127, 127, 0.716);
    border-top: 1px solid rgba(135, 127, 127, 0.716);
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.col-left-padding-lg {
    padding-left: 5%;
}

.col-right-padding-lg {
    padding-right: 5%;
}

.help-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}